.img-center {
  width: auto; 
  height: 75%;
  border-radius: 15%;
}
.container { 
  width:100%;
  height:100%;
  position: relative;
}
.container img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

ion-content {
  //--background: url('https://cn.opendesktop.org/img/c/1/f/8/2044c87c80e6dbdaedf2393da1212ff5e855.jpg') no-repeat center center
  --background: #011000;
}

ion-footer {
  --background: transparent;
}

.item.item-trns {
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 30px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-item {
  padding: 0px;
  text-align: center;
}