<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form padding (ngSubmit)="saveChanges()" class="item item-trns">
    <!--USUARIO-->
    <ion-item color="transparent">
      <ion-label style="color: white;" position="floating" ><ion-icon name="contact"></ion-icon>  Usuario o Correo Electrónico</ion-label>
      <ion-input style="color: white;" type="text" [(ngModel)]="data.username" name="username">
      </ion-input>
    </ion-item>
    <ion-button color="Exotic" expand="block" fill="solid" type="submit" [disabled]="btnDisabled">
      <ion-icon name="save" slot="start"></ion-icon>
      Recuperar Contraseña
    </ion-button>
  </form>
</ion-content>