<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="splash-bg" style="background: url('https://img3.goodfon.com/wallpaper/nbig/4/57/selva-dzhungli-tropicheskiy.jpg');"></div>
    <div class="splash-info">
      <div class="splash-logo" [ngStyle]="myStyles" ></div>
      <div class="">
        <h3 class="text center">{{data.nombreCompleto}}</h3>
        <h6 class="text center">{{data.email}}</h6>
      </div>
    </div>

    <!-- CONFIGURACION -->
    <ion-list padding lines="none" mode="ios">
      <ion-list-header>
        <ion-label class="mayusculas">Cuenta</ion-label>
      </ion-list-header>
      <ion-item (click)="presentModal(1)">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>
          Editar Mi Perfil
        </ion-label>
      </ion-item>
      <!--<ion-item (click)="presentModal(3)">
        <ion-icon name="logo-facebook" slot="start"></ion-icon>
        <ion-label>
          Mis Redes Sociales
        </ion-label>
      </ion-item>-->
      <ion-item (click)="presentModal(2)">
        <ion-icon name="lock" slot="start"></ion-icon>
        <ion-label>
          Cambiar Contraseña
        </ion-label>
      </ion-item>
      <ion-item (click)="goToRoute('direccion')">
        <ion-icon name="map" slot="start"></ion-icon>
        <ion-label>
          Mis Direcciones
        </ion-label>
      </ion-item>
      <ion-item (click)="goToRoute('mi-compra/menu')">
        <ion-icon name="pricetags" slot="start"></ion-icon>
        <ion-label>
          Mis Compras
        </ion-label>
      </ion-item>
      <!--<ion-list-header>
        <ion-label class="mayusculas">Configuración</ion-label>
      </ion-list-header>
      <ion-item (click)="readQR()">
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>
          Mi Ubicación
        </ion-label>
      </ion-item>
      <ion-item (click)="readQR()">
        <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon>
        <ion-label>
          Control de Accesos
        </ion-label>
      </ion-item>
      <ion-item (click)="readQR()">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>
          Más Configuraciones
        </ion-label>
      </ion-item>
      <ion-item (click)="readQR()">
        <ion-icon name="qr-scanner" slot="start"></ion-icon>
        <ion-label>
          QR Scanner
        </ion-label>
      </ion-item>
      <ion-list-header>
        <ion-label class="mayusculas">Personalización</ion-label>
      </ion-list-header>
      <ion-item (click)="readQR()">
        <ion-icon name="color-palette" slot="start"></ion-icon>
        <ion-label>
          Personalización
        </ion-label>
      </ion-item>-->
    </ion-list>
</ion-content>
