<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-title>Información</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%;" [style.display]="parameter=='1' ? 'block' : 'none'">
    <div class="splash-bg" style="background: url('https://img3.goodfon.com/wallpaper/nbig/4/57/selva-dzhungli-tropicheskiy.jpg');"></div>
    <div class="splash-info">
      <div class="splash-logo" [ngStyle]="myStyles" ></div>
      <div class="" *ngIf="data">
          <h3 class="text center">{{data.firstname}} {{data.lastname}}</h3>
          <h6 class="text center"><strong>{{data.email}}</strong></h6>
          <p class="text center">{{data.description}}</p>
          <p class="text center">{{data.phone}}</p>
      </div>
    </div>
  </div>

  <div style="height: 100%;" [style.display]="parameter=='2' ? 'block' : 'none'">
    <div style="height: 100%; width: 100%;" id="map"></div>
  </div>

  <div style="height: 100%;" [style.display]="parameter=='3' ? 'block' : 'none'">
    <div class="splash-bg" style="background: url('https://img3.goodfon.com/wallpaper/nbig/4/57/selva-dzhungli-tropicheskiy.jpg');"></div>
    <div class="splash-info">
      <div class="splash-logo" [ngStyle]="myStyles" ></div>
    </div>
    <ion-list padding>
      <ion-item *ngFor="let x of schedules">
        <ion-label>
          <h2><ion-icon name="calendar"></ion-icon>  {{ x.title }}</h2>
          <p>{{x.description}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>