<ion-header>
  <ion-toolbar color="ExoticNav">
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="Exotic">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngIf="data" color="ExoticNav" (click)="callPhone(data.phone)">
        <ion-icon name="call"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light" *ngFor="let x of information" (click)="openBrowser(x.link)">
        <ion-icon name="{{ x.icono }}"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="Exotic">
      <ion-icon name="arrow-down"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="ExoticNav" (click)="presentModal(1)">
        <ion-icon name="information-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="ExoticNav" (click)="presentModal(2)">
        <ion-icon name="pin"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="ExoticNav" (click)="presentModal(3)">
        <ion-icon name="calendar"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
