ion-content {
  --background: url('https://www.10wallpaper.com/wallpaper/1366x768/1506/white_lipped_pit_viper_snake-HD_Desktop_Wallpaper_1366x768.jpg') no-repeat center center;
  --background-color: #011000;
}